[Desktop Entry]
Type=Application
Name=Klipr
Comment=Clipboard history manager for Linux
Exec=klipr
Icon=klipr
Terminal=false
Categories=Utility;
StartupNotify=true
StartupWMClass=io.github.nguyenduc2309.klipr
